<h1>Creating a card for sale</h1>

<form id="sell" action="/profile/forsale" method="post" style="padding-top: 50px;">
  <img src="{{card}}" alt="">
  <input type="text" name="name" placeholder="name">
  <select name="img" id="select">
    <option disabled>Choose the </option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  <input type="text" name="price" placeholder="price">
  <input type="text" name="city" placeholder="city">
  <input type="text" name="condition" placeholder="condition">
  <button type="submit">Sell</button>
</form>


<script>
const sellForm = document.getElementById('sell')
console.log(sellForm);
sellForm.addEventListener('submit', async (e) => {
  e.preventDefault();
  
  const response = await fetch('/profile/forsale', {
    method: 'POST',
    headers: { 'Content-Type': 'Application/json' },
    body: JSON.stringify({
      name: e.target.name.value,
      img: e.target.img.value,
      price: e.target.price.value,
      city: e.target.city.value,
      condition: e.target.condition.value
    })
  })
  const resJson = await response.json();
  console.log(resJson);
  location.assign('/')
})
</script>
