<head>
  <link href="/stylesheets/carousel.css" rel="stylesheet">
  <script defer src="/js/application.js"></script>
</head>
{{!-- {{each massiv of objects }} --}}
<ul class="list">
  <li class="hide">
    AAAAAAAAAAAAA
  </li>
  <li class="prev">
    <img src="{{this.img}}">
  </li>
  <li class="act">
    <img src="https://d15f34w2p8l1cc.cloudfront.net/hearthstone/26c8de62223f4fdbb8c8ce905abd9c5f8bb5215f5076ccf584b4993675c980b0.png">
  </li>
  <li class="next">
    <img src="https://static1-www.millenium.gg/articles/6/10/86/6/@/123240-kronx-dragonhoof151334-article_m-1.png">
  </li>
  <li class="next new-next">
    AAAAAAAAA
  </li>
</ul>

<div class="swipe"></div>


