<head>
  <link href="/stylesheets/carousel.css" rel="stylesheet">
  <script defer src="/js/application.js"></script>
</head>

<div id="main-cards" class="list">
      <img class="card-image hide" src="">

      <img class="card-image prev" src="">

      <img class="card-image act" src="">

      <img class="card-image next" src="">

      <img class="card-image next new-next" src="">
</div>

<div class="swipe">
</div>

<form id="card-info" action="/" method="">
  <button id="card-info-btn" class="btn btn-lg btn-primary">INFO</button>
</form>
