<head>
  <link href="/stylesheets/carousel.css" rel="stylesheet">
  <script defer src="/js/application.js"></script>
</head>

<div id="main-cards" class="list">
      <img class="card-image hide" src="https://cdn.hearthstonetopdecks.com/wp-content/uploads/2020/07/Ace-Hunter-Kreen.png">

      <img class="card-image prev" src="https://cdn.hearthstonetopdecks.com/wp-content/uploads/2020/07/Ace-Hunter-Kreen.png">

      <img class="card-image act" src="https://cdn.hearthstonetopdecks.com/wp-content/uploads/2020/07/Ace-Hunter-Kreen.png">

      <img class="card-image next" src="https://cdn.hearthstonetopdecks.com/wp-content/uploads/2020/07/Ace-Hunter-Kreen.png">

      <img class="card-image next new-next" src="https://cdn.hearthstonetopdecks.com/wp-content/uploads/2020/07/Ace-Hunter-Kreen.png">
</div>

<div class="swipe">
</div>

<form id="card-info" action="/" method="">
  <button id="card-info-btn" class="btn btn-lg btn-primary">INFO</button>
</form>
