<head>
  <link href="/stylesheets/carousel.css" rel="stylesheet">
  <script defer src="/js/application.js"></script>
</head>
{{!-- {{each massiv of objects }} --}}
<ul class="list">
  <li class="hide">
    <img class="card-image" src="https://cdn.hearthstonetopdecks.com/wp-content/uploads/2020/07/Ace-Hunter-Kreen.png">
  </li>
  <li class="prev">
    <img class="card-image" src="https://cdn.hearthstonetopdecks.com/wp-content/uploads/2020/07/Ace-Hunter-Kreen.png">
  </li>
  <li class="act">
    <img class="card-image" src="https://cdn.hearthstonetopdecks.com/wp-content/uploads/2020/07/Ace-Hunter-Kreen.png">
  </li>
  <li class="next">
    <img class="card-image" src="https://cdn.hearthstonetopdecks.com/wp-content/uploads/2020/07/Ace-Hunter-Kreen.png">
  </li>
  <li class="next new-next">
    <img class="card-image" src="https://cdn.hearthstonetopdecks.com/wp-content/uploads/2020/07/Ace-Hunter-Kreen.png">
  </li>
</ul>

<div class="swipe"></div>
