<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HEARTHSTONE CARDSTORE</title>

  <link href="/stylesheets/application.css" rel="stylesheet">
  <link href="/stylesheets/normalize.css" rel="stylesheet">
  <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">

  <script defer src="/assets/dist/js/bootstrap.bundle.min.js"></script>
  <script defer src="/js/application.js"></script>
</head>

<body class="d-flex flex-column h-100">

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">HEARTHSTONE CARDSTORE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
          <a class="nav-link" href="/basket" tabindex="-1" aria-disabled="true">Cart</a>
          {{#if check}}
          <a class="nav-link" href="/profile" tabindex="-1" aria-disabled="true">Profile</a>
          <a class="nav-link" href="/auth/logout" tabindex="-1" aria-disabled="true">Logout</a>
          {{else}}
          <form id="login" action="/auth/login" method="GET" class="d-flex">
            <button class="btn btn-outline-success" type="submit">Login</button>
          </form>
          <form id="signup" action="/auth/signup" method="GET" class="d-flex">
            <button class="btn btn-outline-success" type="submit">Sign Up</button>
          </form>
          {{/if}}
        </div>
      </div>
    </nav>
  </header>

  <div>
    {{{body}}}
  </div>


  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span><a href="#" class="text-muted">&copy; AAA Team 2021</a></span>
    </div>
  </footer>

</body>

</html>
