<head>
  <title>Sign Up</title>
  <link href="/stylesheets/login.css" rel="stylesheet">
</head>

<body class="text-center">

  <main class="form-signin">
    <form id="singup-form" action="/auth/signup" method="POST">
      {{!-- <img class="mb-4" src="https://airshp.com/wp-content/uploads/AL1-LogoSuite2016-v3_MARK-688x688.png" alt="" width="72" height="57"> --}}
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

      <label for="inputEmail" class="visually-hidden">Username</label>
      <input type="text" id="inputEmail" class="form-control" name="name" placeholder="Username" required autofocus>

      <label for="inputEmail" class="visually-hidden">Email address</label>
      <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required>

      <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>

      <label for="inputCity" class="visually-hidden">City</label>
      <input type="text" id="inputCity" class="form-control" name="city" placeholder="City" required>
      <br>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
    </form>
    <p class="reg-bottom">Already registered? <a href="/auth/login">Log In</a></p>
  </main>

</body>
