<head>
  <title>Login</title>
  <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/login.css" rel="stylesheet">
</head>

<body class="text-center">

  <main class="form-signin">
    <form id="" action="" method="">
      <img class="mb-4" src="" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

      <label for="inputEmail" class="visually-hidden">Username</label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>

      <label for="inputEmail" class="visually-hidden">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
      <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
    <p class="">If you already registered please <a href="/auth/login">Sign In</a></p>
  </main>

</body>
